<br>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th colspan="8" style="text-align: center;">RESERVATIONS</th>
     
          </tr>
        <tr>
          <th style="border: 1px solid black;border-collapse: collapse;">Id</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Reservation</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Checkin</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Checkout</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Flat</th>
          <th style="border: 1px solid black;border-collapse: collapse;">City</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Net income</th>
          <th style="border: 1px solid black;border-collapse: collapse;">Commission</th>
        </tr>
        {% for commision in commisions %}
        <tr style="border: 1px solid black;border-collapse: collapse;">
            
            <td style="border: 1px solid black;">{{commision.id}}</td>
            <td style="border: 1px solid black;">{{commision.reservation}}</td>
            <td style="border: 1px solid black;">{{commision.checkin_month}} {{commision.checkin_day}}, {{commision.checkin_year}}</td>
            <td style="border: 1px solid black;">{{commision.checkout}}</th>
            <td style="border: 1px solid black;">{{commision.flat}}</th>
            <td style="border: 1px solid black;">{{commision.city}}</th>
            <td style="border: 1px solid black;">{{commision.income}}</th>
            <td style="border: 1px solid black;">{{commision.com}}</th>

                {% endfor %}
        </tr>
      </table>
    <br>
        {% if commisions %}
            <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Clear table">
            </form>
        {% endif %}
